includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 7

    excludePaths:
        - app/Http/Middleware/*
        - app/Providers/BroadcastServiceProvider.php
        - app/Http/Controllers/SocialAuthController.php
        - app/Services/ImageService.php

    ignoreErrors:
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'
        - '#Method .*::rules\(\) return type has no value type specified#'
        - '#Method .*::messages\(\) return type has no value type specified#'
        - '#Access to an undefined property object::#'
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Parameter.*PasswordReset#'
        - '#Parameter.*static method#'
        - '#Offset.*does not accept type#'

    reportUnmatchedIgnoredErrors: false
